# Dependencies
node_modules

# Lockfiles
bun.lock

# Rust / Cargo build artifacts
target/debug
target/release
target/sbpf-solana-solana
target/.rustc_info.json

# Anchor
.anchor

# OS files
.DS_Store
.vercel
.env*
target/wallet/
target/
!target/idl/
!target/deploy/*.so
!target/deploy/*-keypair.json
wallet.json
archive/wallets/
supabase/.temp/
wallet.json
target/deploy/*.json
*.keypair.json
id.json
.env
.env.local
wallet-new.json
wallet-new.json
logs/
